<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"><span class="navbar-toggler-icon"></span></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active">{{title}} Dashboard</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </div>
</nav>
